<div class="MainWrapper">
  <div id="HomeWrapper">
      <div id="WirTitel"></div>
      <div class="Left">
          <div class="ContentLeft">
              <div class="Content">
                  <h2>KLEIN & LAUT</h2>
                   <p>Der Verein kleinLaut ist aus dem Wunsch heraus entstanden, die Kulturlandschaft der Region Brugg um ein Musikfestival zu erweitern. Wir sind ein kleines (und manchmal auch lautes) Team, das die Begeisterung für Musik, Kultur und Beisammensein als Grundstein für unser Festival ansieht.</p>
                   <p>Das kleinLaut Team</p>
                    <ks-modal-gallery [modalImages]="team" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery>
              </div>
          </div>
          <div class="ContentLeft">
              <div class="Content">
                  <h2>KONTAKT</h2>
                  <p>Für 2018 nehmen wir keine Bandbewerbungen mehr an.</p>
                  <p>Bei allfälligen Fragen zum Festival (keine Bandbewerbungen bitte) sind wir gerne behilflich. Bitte zögert nicht, uns per <a href="mailto:info@kleinlautfestival.ch">E-Mail</a> zu kontaktieren.</p>
              </div>
          </div>
          <div class="ContentLeft">
              <div class="Content">
                  <h2>FESTIVALFORUM</h2>
                    <p>Das kleinLaut Festival ist Teil des Dachverbands für Festivals im Aargau: <a href="http://www.festivalforum.ch/" target="_blank">Das Festivalforum</a>. Folgende Festivals tauschen Erfahrungen untereinander aus und helfen sich gegenseitig:</p>
                    <ul>
                      <li><a href="http://www.festivaldesarcs.ch/" target="_blank">Festival des Arcs, Ehrendingen</a></li>
                      <li><a href="http://www.jugendtheaterfestival.ch/" target="_blank">Jugend Theater Festival Schweiz, Aarau</a></li>
                      <li><a href="https://www.muri-nights.ch/" target="_blank">Muri Nights</a></li>
                      <li><a href="http://www.mutterschiff.ch/" target="_blank">Mutterschiff Openair, Menziken</a></li>
                      <li><a href="http://www.openeye.ch/" target="_blank">Openeye Festival, Oberlunkhofen</a></li>
                      <li><a href="http://www.rocknacht-tennwil.ch/" target="_blank">Rocknacht Tennwil</a></li>
                      <li><a href="http://www.sichtfeld-openair.ch/" target="_blank">Sichtfeld Openair, Gipf-Oberfrick</a></li>
                      <li><a href="http://www.zamba-loca.ch/" target="_blank">Zamba Loca, Wohlen</a></li>
                      <li><a href="http://www.bluesmerize.ch/" target="_blank">Openair im Grüene, Bergdietikon</a></li>
                      <li><a href="https://www.openairwettingen.ch/" target="_blank">Openair Wettingen</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="Right">
          <div class="ContentLeft">
              <div class="Content">
                  <h2>PHOTOS</h2>
                  <ul>
                      <li>LAUSCHALLEE 2014<ks-modal-gallery [modalImages]="lausch" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <li>MERKKER 2014<ks-modal-gallery [modalImages]="merkker" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <li>KLEINLAUT 15<ks-modal-gallery [modalImages]="kl15" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <li>KLEINLAUT IN DEN PUBs 16 - Konzerttour durch Brugg<ks-modal-gallery [modalImages]="klp16" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <li>KLEINLAUT 16 – AUFBAU<ks-modal-gallery [modalImages]="kl16a" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <!--<li>utfestival.ch/img/Gall<a rel="gallery07" href="http://www.kleinlaery/001_apero.jpg">KLEINLAUT 16 – GÖNNERAPERO</a>-->
                      <li>KLEINLAUT 16 – FESTIVAL<ks-modal-gallery [modalImages]="kl16" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <li><a href="https://www.facebook.com/kleinlaut.festival/photos/?tab=album&album_id=520375748170100" target="_blank">KLEINLAUT 16 - FACEBOOK AUSWAHL</a></li>
                      <li>KLEINLAUT IN DEN PUBs 17 - Konzerttour durch Brugg<ks-modal-gallery [modalImages]="klp17" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <li>KLEINLAUT 17 – FESTIVAL<ks-modal-gallery [modalImages]="kl17" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <li><a href="https://www.facebook.com/pg/kleinlaut.festival/photos/?tab=album&album_id=665867663620907" target="_blank">KLEINLAUT 17 – FREITAG - FACEBOOK AUSWAHL</a></li>
                      <li><a href="https://www.facebook.com/pg/kleinlaut.festival/photos/?tab=album&album_id=666438060230534" target="_blank">KLEINLAUT 17 – SAMSTAG - FACEBOOK AUSWAHL</a></li>
                      <li>KLEINLAUT IN DEN PUBS 18 - Konzerttour durch Brugg<ks-modal-gallery [modalImages]="klp18" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                      <li>KLEINLAUT 18 - FESTIVAL<ks-modal-gallery [modalImages]="kl18" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery></li>
                  </ul>
              </div>
          </div>
          <div class="ContentLeft">
              <div class="Content">
                  <h2>FILME</h2>
                   <iframe width="100%" height="315" src="https://www.youtube.com/embed/Ip0jsj0TaYk" frameborder="0" allowfullscreen></iframe><br><br>

                   <iframe width="100%" height="315" src="https://www.youtube.com/embed/RReWIgBDHvk" frameborder="0" allowfullscreen></iframe><br><br>
                   <iframe width="100%" height="315" src="https://www.youtube.com/embed/ICVFSHce9j4" frameborder="0" allowfullscreen></iframe><br><br>

                   <iframe width="100%" height="315" src="https://www.youtube.com/embed/XIu2HObUb2I" frameborder="0" allowfullscreen></iframe><br><br>
                   <iframe width="100%" height="315" src="https://www.youtube.com/embed/FD77ChusSWs" frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>
</div>

<nav class="PageNav">
  <a routerLink="" >
      <div id="Home" ></div>
  </a>

  <a routerLink="/programm">
      <div id="ProgrammHome"></div>
  </a>
  <a routerLink="/festival">
      <div id="FestivalHome" ></div>
  </a>
  <a routerLink="/wir">
      <div id="WirHome"></div>
  </a>
  <a routerLink="/helfen">
      <div id="HelfenHome"></div>
  </a>
</nav>