@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

.arrow:after{
    background-color: black !important;
}

.arrow:before{
    background-color: black !important;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size:90%;
    color: white;
    --main-bg-color-red: #e62d2d; 
    --main-bg-color-blue: #0036ce; 
}

h1 {
    font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

#ProgrammHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background: url(./Nav/programm.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#FestivalHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background: url(./Nav/festival.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#HelfenHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background: url(./Nav/helfen.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#WirHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background: url(./Nav/wir.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}