<div class="MainWrapper">
    <div id="HomeWrapper">
        <div id="WirTitel"></div>
        <div class="Left">
            <div id="FreitagWrapper">
                <div class="Content BlueBg">
                    <div id="Freitag">
                        <h2>MUSIKPROGRAMM FREITAG</h2>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>18:45 - 19:30</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Falldown</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Das Flair des 50er-Jahre Rock’n’Roll, die Energie von sattem Hard Rock und eine
                                    gehörige Portion Blues – das ist FallDown! Ob Rockabilly, Headbanger oder Fan von
                                    knackigem Southern Rock - sie alle kommen beim Sound von FallDown auf ihre Kosten.
                                    We bring the GROOVE and the POWER!!<br><br>
                                    2016 ist unser Debutalbum "UNSTOPPABLE" erschienen, 2017 folgte die EP "226".</p>
                                <br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/AzJVlYXJYTk"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>20:00 - 21:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Dachs</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Mundart feiert seit einigen Jahren ein temperamentvolles Comeback - auf der ganzen
                                    Dialektbandbreite, die die Schweiz zu bieten hat! Das St. Galler Duo Dachs liefert
                                    unverschämt stilsicheren, bombastischen Electro-Pop. Über sanfte Beats und
                                    wattenweiche Melodien legen Dachs ihre Texte mit Köpfchen. Sie singen über Städte
                                    und Provinzen, über Orte und Unorte, Hier-und Dortgebliebene und ewig Bleibende.
                                </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/Q0IlI9ZFEks"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>21:30 - 22:30</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Frank Powers</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Frank Powers stehen für unendlich gefühlsvolle Folk-Pop-Songs. Ein schmeichelndes,
                                    melodiöses Arrangement begleitet die weiche Stimme von Dino Brandao, die definitiv
                                    zu den prägnantesten der Schweiz gehört. Dieser Act serviert uns nicht nur einen
                                    Flohzirkus vm fnstn, auch sind die in- und um-Brugger im Kollektiv für unsere
                                    Schwester kleinLaut im Pub zuständig. Löv!</p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/E8vWO1fs2JA"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>23:00 - 00:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Crimer</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Viel muss man zu Crimer nicht sagen: Letztes Jahr am OOAM, dieses Jahr am OASG und
                                    jetzt am kleinLaut als kurzfristiger Ersatz für Muthoni Drummer Queen, die wegen
                                    Krankheit absagen musste.</p><br>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>00:30 - 01:30</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Soviet Soviet</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Wir denken an sibirische Kälte und hören treibende Dampfmaschinen. Eigentlich kommt
                                    der Alternativrock-Act aber aus dem warmen Italien. Mit im Gepäck haben Soviet
                                    Soviet Stücke, die von New Wave und Post-Punk inspiriert sind. </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/AUxOF7eLA_0"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>01:45 - 04:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Lost in Nature </h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Das LIN-Set ist Tradition am kleinLaut und das wird auch 2018 nicht geändert. Amore!
                                </p>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <div id="RahmenWrapper">
                <div class="Content BlueBg">
                    <div id="Rahmen">
                        <h2>RAHMENPROGRAMM FREITAG</h2>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>19:30</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Schere, Stei, Papier</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Der offizielle Startschuss des Rahmenprogramms gehört traditionellerweise der
                                    kleinLauten Weltmeisterschaft im Schere, Stei, Papier. Diesmal gibt es etwas ganz
                                    ausserordentliches für die Meisterin, den Meister zu gewinnen. Was – das verraten
                                    wir erst, wenn es um die Wurst geht. </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>20:45</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Yoga</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Yoga auf einem Musikfestival? Gibt’s nicht? Und ob: Am Freitag verabschieden wir am
                                    Abend die Sonne und grüssen sie am Samstag wieder. Gönnt euch eine Runde Entspannung
                                    und tankt Energie für die vielen Tanzrunden am Festival. Es empfiehlt sich eine
                                    Yogamatte oder die Isomatte aus dem Zelt mitzubringen. </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>23:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Feuerinstallation - Ruben's Tube</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Von einigen pyromanen OK-Mitgliedern wird dieses Jahr eine Feuerinstallation zu sehen
                                    sein, die auf Geräusche und Musik reagiert. Du wirst selber in der Lage sein, das
                                    Feuer mit einem Synthesizer oder deiner Stimme zu modulieren. </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>unregelmässig</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Herr Rasmus</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Herr Rasmus ist ein mürrischer Kerl, den alle meiden. Denn wo immer er auftaucht,
                                    bringt er mit seiner stürmischen Art alles durcheinander und so macht er sich
                                    natürlich keine Freunde. Dabei wünscht sich Herr Rasmus nichts mehr als eine tiefe
                                    Freundschaft.</p><br><br>
                                <p>Als er sich sich eines Tages entschliesst seine Heimat zu verlassen, lernt er ein
                                    junges Mädchen kennen das ihm mit Neugier und Wohlwollen begegnet.</p><br><br>
                                <p>Herr Rasmus verbindet Hörspiel mit Figurentheater und geht dabei spielerisch mit dem
                                    Element Wind um.</p><br><br>
                                <p><a href="http://www.leerraumoffen.ch"
                                        target="_blank">wwww.leerraumoffen.ch</a><br><br><a
                                        href="https://www.facebook.com/leerraum.offen"
                                        target="_blank">facebook.com/leeraum.offen</a></p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>unregelmässig</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>ArtGrid - Live-Painting</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Wir freuen uns, das Künstlerkollektiv "ArtGrid" auf dem Festivalgelände begrüssen zu
                                    dürfen. Während des ganzen Festivals kann man den Künstlern live beim Malen eines
                                    riesigen, in Grids (also Kacheln) geteiltes Kunstwerk über die Schultern schauen.
                                    Diese Grids sind einzelne Gemälde, ergeben aber auch zusammen ein grosses Werk. Wer
                                    sich für das Projekt interessiert, findet auf <a href="http://www.artgrid.ch"
                                        target="_blank">wwww.artgrid.ch</a> mehr Informationen. </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>unregelmässig</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Gwunderbox</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Im Labyrinth verstecken sich wundersame Gestalten, die es für dich zu entdecken gilt.
                                    Es wandelt sich ständig. Zu welcher Zeit, was anzutreffen ist, vermögen wir dir
                                    nicht sagen. Lass dich verlieren und überraschen. </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>

        </div>

        <div class="Right">
            <div id="SamstagWrapper">
                <div class="Content RedBg">
                    <div id="Samstag">
                        <h2>MUSIKPROGRAMM SAMSTAG</h2>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>16:00 - 16:45</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Black Sea Dahu</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Mit neuem Bandnamen und den Songs des noch unveröffentlichten Albums White Creatures
                                    im Gepäck präsentiert sich die Zürcher Indie Folk Band Black Sea Dahu. Die sechs
                                    kreativen Köpfe um die Singer-Songwriterin Janine Cathrein wurden unter dem Namen
                                    Josh bekannt. Ihr grosses Repertoire an Songs, die einen nicht loslassen, überzeugen
                                    uns. Die herbe Stimme der Bandleaderin spielt in der Verführungskunst von Black Sea
                                    Dahu eine ganz eigene Rolle. </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/657jp7TSmrI"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>17:15 - 18:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Bobby Alu</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Sobald seine Musik erklingt, wähnen wir uns an einem Strand, fühlen den Sand unter
                                    den Füssen und schmecken den süssen Cocktail im Mund. Feines Karibikfeeling bringt
                                    uns dieses Jahr der australische Singer-Songwriter Bobby Alu nach Riniken. Smooth!
                                </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/6JN-CjJH_E0"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>18:30 - 19:30</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Other Animals</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Eine geballte Ladung Rock'n'Roll feuern Other Animals dem Publikum entgegen. Das
                                    ungeheure Rockorchester, bestehend aus ganzen neun Musikerinnen und Musikern, wissen
                                    sich in der brachialen Welt zu Hause und werden Grosses auf unsere kleinLaut-Bühne
                                    bringen. </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/-vhUslWzxkc"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>20:15 - 21:15</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Flut</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Auch wenn wir Bands nicht gerne vergleichen, so kommen wir dieses eine Mal nicht
                                    darum herum... denn hätte Falco Kinder gehabt, sie hätten Flut geheissen. Dessen
                                    sind wir uns sicher. Die österreichische Band entführt uns in die 80ies und da
                                    verweilen wir gerne. </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/Y2RX8u6l6QE"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>21:45 - 23:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Kerala Dust</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Kerala Dust produzieren geschmeidigen Electro mit treibenden, aber nicht
                                    aufdringlichen Beats. Wie angegossen gesellen sich dazu eine düstere, fast schon
                                    monotone Stimme sowie moderate Bass- und Gitarrenlinien. Was entsteht ist eine
                                    tanzbare Atmosphäre, in der man sich schnell verliert. </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/IoN_ZaoFSW8"
                                    frameborder="0" allowfullscreen></iframe><br>

                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>23:30 - 00:30</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Die Nerven</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Teil einer DIY-Rock-Generation? Eine eindrucksvolle Punkband? "Scheissegal" - wie sie
                                    sagen würden. Hauptsache gute Musik, Hörgenuss vom feinsten und keineswegs nervig.
                                </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/aL3LOT7AeXU"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>01:00 - 02:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Fuck Art Let's Dance</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Fuck Art Let's Dance! verwandeln dich am Montagmorgen in ein motiviertes
                                    Energiebündel und nichts scheint mehr unmöglich. Der Act kombiniert rasenden,
                                    produktiven Synthpop mit heftigen Beats und Indie-Spirit. Treibend-kraftvoll bewegt
                                    sich ihr Sound vorwärts. Und deine Bürotasks arbeiten sich einfacher ab als je
                                    zuvor. </p><br>
                                <br><iframe width="100%" height="315" src="https://www.youtube.com/embed/ii-cyFXMhZM"
                                    frameborder="0" allowfullscreen></iframe><br>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>02:15 - 04:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Flexstreetboys</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Sie liefern die feinen Tracks, wir die feinen Moves. Zum Festivalabschluss legen
                                    Flexstreetboys aus Baden ein musikalisches Sammelsurium von Hiphop und Trap über
                                    Dancehall zu Reggaeton auf und lassen das vierte kleinLaut Festival ehrenvoll
                                    ausklingen. </p>
                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>
                </div>
            </div>

            <div id="RahmenWrapper">
                <div class="Content RedBg">
                    <div id="Rahmen">
                        <h2>RAHMENPROGRAMM SAMSTAG</h2>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>12:00 & 14:15</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Wohnzimmerkonzerte</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Unsere Liebsten vom kleinLaut im Pub veranstalten wiederum zwei Konzerte in
                                    gemütlicher Atmosphäre. Am Samstagnachmittag spielen <b>Eliane Baumann</b> und das
                                    Duo <b>Schlarchmaria</b> auf der Nebenbühne im Kolosseum.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>12:30</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Yoga</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Yoga auf einem Musikfestival? Gibt’s nicht? Und ob: Am Freitag verabschieden wir am
                                    Abend die Sonne und grüssen sie am Samstag wieder. Gönnt euch eine Runde Entspannung
                                    und tankt Energie für die vielen Tanzrunden am Festival. Es empfiehlt sich eine
                                    Yogamatte oder die Isomatte aus dem Zelt mitzubringen. </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>13:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Salsa-Tanzkurs</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Dieses Jahr wechseln wir den Rhythmus und damit auch die Tanzschritte. Auch wenn es
                                    heiss und feurig wird und ein Abstecher in Mittelamerika bedeutet, meinen wir damit
                                    nicht die gleichnamige Sauce: Salsa! </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>13:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Faltwerkstatt</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Wer sich von ArtGrid Live-Painting inspiriert fühlt, kann sich am Samstagnachmittag
                                    gleich selbst künstlerisch austoben. In der Faltwerkstatt stehen alle Materialien
                                    für Faltbilder und Origami zur Verfügung. Das gute: Man muss nicht ein Van Gogh oder
                                    Picasso sein um mit dieser Methode hinreissende Bilder zu machen. Kommt und probiert
                                    es aus! </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>14:15</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Massage-Workshop</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Wir geben's zu: Das Festivelleben ist hart! Sehr hart! Deshalb gibt es dieses Jahr
                                    einen Massageworkshop. </p><br><br>
                                <p>Unbedingt mitnehmen: Isomätteli, Kissen und eine(n) Massage-Partner*In.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>14:45</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Insektentour</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Der Klassiker des kleinLaut Festivals lädt auch dieses Jahr zur Exkursion in die nah
                                    gelegenen Felder rund um das Festivalgelände. Ausgerüstet mit Fangnetz könnt ihr
                                    Insekten sammeln und von unseren Biologie-Experten informieren lassen, bevor die
                                    Insekten wieder in ihr Habitat freigelassen werden. </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>15:30</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Hula-Hoop Workshop</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Wir laden ein, langsam mit Hula-Hoop Reifen in die Abendstimmung zu tänzeln. Komm
                                    doch vorbei und lass dich nach einer halben Stunde Einführung auf einen Tanz mit
                                    Black Sea Dahu ein! </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>18:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Fokus-Experiment</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Menschen schauen sich während eines Gespräches im Schnitt etwa 3,3 Sekunden lang in
                                    die Augen, bevor den Blickkontakt für kurze Zeit verlieren um sich dann wieder die
                                    Augen des Gegenübers zu suchen. Was passiert, aber wenn wir uns aber intensiv für
                                    langere Zeit in die Augen schauen? Insbesondere bei Menschen, die wir nicht kennen?
                                    Lasst es uns herausfinden! </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>18:10</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Science-Slam</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Auch wenn mitten im Sommer, an einem Festival und während den Ferien: Lass dich von
                                    den Science Slammern überraschen, unterhalten, zum Lachen bringen und lerne dabei
                                    sogar noch was Neues! </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>23:00</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Feuerinstallation - Ruben's Tube</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Von einigen pyromanen OK-Mitgliedern wird dieses Jahr eine Feuerinstallation zu sehen
                                    sein, die auf Geräusche und Musik reagiert. Du wirst selber in der Lage sein, das
                                    Feuer mit einem Synthesizer oder deiner Stimme zu modulieren. </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>unregelmässig</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Herr Rasmus</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Herr Rasmus ist ein mürrischer Kerl, den alle meiden. Denn wo immer er auftaucht,
                                    bringt er mit seiner stürmischen Art alles durcheinander und so macht er sich
                                    natürlich keine Freunde. Dabei wünscht sich Herr Rasmus nichts mehr als eine tiefe
                                    Freundschaft.</p><br><br>
                                <p>Als er sich sich eines Tages entschliesst seine Heimat zu verlassen, lernt er ein
                                    junges Mädchen kennen das ihm mit Neugier und Wohlwollen begegnet.</p><br><br>
                                <p>Herr Rasmus verbindet Hörspiel mit Figurentheater und geht dabei spielerisch mit dem
                                    Element Wind um.</p><br><br>
                                <p><a href="http://www.leerraumoffen.ch"
                                        target="_blank">wwww.leerraumoffen.ch</a><br><br><a
                                        href="https://www.facebook.com/leerraum.offen"
                                        target="_blank">facebook.com/leeraum.offen</a></p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>unregelmässig</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>ArtGrid - Live-Painting</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Wir freuen uns, das Künstlerkollektiv "ArtGrid" auf dem Festivalgelände begrüssen zu
                                    dürfen. Während des ganzen Festivals kann man den Künstlern live beim Malen eines
                                    riesigen, in Grids (also Kacheln) geteiltes Kunstwerk über die Schultern schauen.
                                    Diese Grids sind einzelne Gemälde, ergeben aber auch zusammen ein grosses Werk. Wer
                                    sich für das Projekt interessiert, findet auf <a href="http://www.artgrid.ch"
                                        target="_blank">wwww.artgrid.ch</a> mehr Informationen. </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>unregelmässig</p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <h3>Gwunderbox</h3>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Im Labyrinth verstecken sich wundersame Gestalten, die es für dich zu entdecken gilt.
                                    Es wandelt sich ständig. Zu welcher Zeit, was anzutreffen ist, vermögen wir dir
                                    nicht sagen. Lass dich verlieren und überraschen. </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="PageNav">
    <a routerLink="">
        <div id="Home"></div>
    </a>

    <a routerLink="/programm">
        <div id="ProgrammHome"></div>
    </a>
    <a routerLink="/festival">
        <div id="FestivalHome"></div>
    </a>
    <a routerLink="/wir">
        <div id="WirHome"></div>
    </a>
    <a routerLink="/helfen">
        <div id="HelfenHome"></div>
    </a>
</nav>