#first{
    top: -25px;
    left: 0px;
    background-color:rgba(50, 50, 255, 0.7);

    -webkit-mask-image:url(../assets/RAster_2.1.png);
    mask-image:url(../assets/RAster_2.1.png);

    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);

    -webkit-animation: blueAnimation 20s ease 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: blueAnimation 20s ease 2s infinite alternate;
}

#second{
    top: 0px;
    left: -50px;

    background-color:rgba(255, 0, 0, 0.6);

    -webkit-mask-image:url(../assets/Raster_fein.png);
    mask-image:url(../assets/Raster_fein.png);

    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);

    -webkit-animation: redAnimation 15s ease 2s infinite alternate; /* Safari 4.0 - 8.0 */
    animation: redAnimation 15s ease 2s infinite alternate;
}

.bkgrnd{
    z-index: -1;
    position: fixed;
    
    width: 120vw;
    height: 120vh;

    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;

    background-repeat: repeat;
    background-size: 100vw 100vh;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes redAnimation {
    0%   { left:-50px; top:0px; -webkit-transform: rotate(1deg); }
    100% { left:0px; top:-50px; -webkit-transform: rotate(-3deg);}
}

/* Standard syntax */
@keyframes redAnimation {
    0%   { left:-50px; top:0px; transform:rotate(1deg);}
    100% { left:0px; top:-50px; transform:rotate(-3deg);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blueAnimation {
    0%   { left:0px; top:-25px; -webkit-transform: rotate(-1deg);}
    100% { left:-50px; top:0px; -webkit-transform: rotate(1deg);}
}

/* Standard syntax */
@keyframes blueAnimation {
    0%  { left:0px; top:-25px; transform: rotate(-1deg);}
    100%  { left:-50px; top:0px; transform:rotate(1deg);}
}