.WeissFont{
    color: #fcffec;
}

#HelfenTitel{
    display: inline-block;
    width: 60vw;
    height: 6vh;
    background:url(../../assets/helfen.svg); 
    background-color: var(--main-bg-color-blue);
    background-size:100% 100%;
}

#SpponsorenTitel{
    display: inline-block;
    width: 60vw;
    height: 6vh;
    background:url(../../assets/sponsoren.svg); 
    background-size:100% 100%;
}

a {
    text-decoration: bold;
    color:#250021;
}

h1 {
    font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

h2 {
    display: inline-block;
    font-size: 3vh;
}

#KanalK>*>p{
    font-size: 1vh;
}

#KanalK>h3{
    display: inline-block;
    color: #250021;
}


#KanalK>.ProgramPoint>* {
    color: #250021;
}


#Rahmen>*>p{
    font-size: 1.5vh;
}

#Rahmen>h3{
    display: inline-block;
    color: #250021;
}


#Rahmen>.ProgramPoint>* {
    color: #250021;
}

.GönnerPoint >p{
    color: #250021;
    display: inline-block;
}

.GönnerPoint >h4{
    color: #250021;
    display: inline-block;
}

#HomeWrapper{
    margin-bottom: 20vw;
    text-align: center;
}

#TitleHomeWrapper{
    margin-bottom: 20vw;
    text-align: center;
}

#Home{
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    width: 15vw;
    height: 15vw;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    background:url(../../assets/KleinLautDatum.png); 
    background-size:100% 100%;
    margin: 0;
    z-index: 10;
}

#ProgrammHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background:url(../../nav/programm.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#FestivalHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background:url(../../nav/festival.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#HelfenHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background:url(../../nav/helfen.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#WirHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background:url(../../nav/wir.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

.HomeNav {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.PageNav{
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

#LogoWrapper{
    display: inline-block;
    width: 90vw;
    height: 90vw;
    background:url(../../nav/kleinLaut.gif); 
    background-size:100% 100%;
}

#SponsorWrapper{
    display: block;
    margin: 10vw 0 10vw 0;
}

#Bewegung{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_BewRaeume.svg); 
    background-size:100% 100%;
}

#Buono{
    display: inline-block;
    background-color: antiquewhite;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_Buono.svg); 
    background-size:100% 100%;
}

#Bloesser{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_Bloesser.svg); 
    background-size:100% 100%;
}

#Buono{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_Buono.svg); 
    background-size:100% 100%;
}

#Kuratorium{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_Kuratorium.svg); 
    background-size:100% 100%;
}

#Schreiner{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_Schreiner.svg); 
    background-size:100% 100%;
}

#Schaepper{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_Schaepper.svg); 
    background-size:100% 100%;
}

#Zentrum{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_Zentrum.svg); 
    background-size:100% 100%;
}

#IBB{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_IBB.svg); 
    background-size:100% 100%;
}

#Kosag{
    display: inline-block;
    width: 25vw;
    height: 10vw;
    background:url(../../svg/Logo_Kosag.svg); 
    background-size:100% 100%;
}

#Kanalk{
    display: inline-block;
    width: 30vw;
    height: 30vw;
    background:url(../../svg/Logo_KanalK.svg); 
    background-size:100% 100%;
}

#Getrnkepartner{
    display: inline-block;
    width: 45vw;
    height: 30vw;
    background:url(../../svg/Logo_Getraenkepartner.svg); 
    background-size:100% 100%;
}

#Weiss{
    display: inline-block;
    width: 45vw;
    height: 30vw;
    background:url(../../svg/Logo_Weiss.svg); 
    background-size:100% 100%;
}

#Biomeier{
    display: inline-block;
    width: 45vw;
    height: 30vw;
    background:url(../../svg/Logo_Biomeier.svg); 
    background-size:100% 100%;
}

#Mobiliar{
    display: inline-block;
    width: 45vw;
    height: 30vw;
    background:url(../../svg/Logo_Mobiliar.svg); 
    background-size:100% 100%;
}

#KanalK p {
    display: inline;
}

#KanalK h2 {
    display: inline;
}

#Rahmen p {
    display: inline;
}

#Rahmen h2 {
    display: inline;
}

.ContentLeft{
    text-align: left;
}

.Content{
    margin: 2vh;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background: #f0f2dc;
    padding: 2vh;
}

@media screen and (min-width: 500px) {
    #HelfenTitel{
        height: 12vh;
    }

    #SpponsorenTitel{
        height: 12vh;
    }

    .PageNav{
        position: fixed;
        width: 10vh;
        top: 0;
    }

    .PageNav *{
        display: block;
        margin: 0;
        float: left;
    }

    #Home{
        position: relative;
        left: 0;
        float: right;
        width: 15vh;
        height: 15vh;
        margin: 0 0 1vh 0;
    }

    #ProgrammHome{
        width: 10vh;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    #FestivalHome{
        width: 10vh;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    #HelfenHome{
        float: right;
        width: 10vh;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    #WirHome{
        float: right;
        width: 10vh;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    .HomeNav > * > #ProgrammHome{
        width: 22vh;
        height: 22vh;
        margin: 0 5vh 0 0;
    }

    .HomeNav > * > #FestivalHome{
        width: 22vh;
        height: 22vh;
        margin: 0 0 0 5vh;
    }

    .HomeNav > * > #HelfenHome{
        float: right;
        width: 22vh;
        height: 22vh;
        margin: 0 6vh 0 0;
    }

    .HomeNav > * > #WirHome{
        float: right;
        width: 22vh;
        height: 22vh;
        margin: 0 0 0 5.2vh;
    }

    #HomeWrapper{
        text-align: left;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 0;
    }

    #AlleGoenner {
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
    }

    .MainWrapper{
        padding-left: 20vh;
        margin: auto;
        width: 71vw;
    }

    h2 {
        font-size: 1.5vw;
    }

    .Left {
        width: 60vw;
        margin-right: 0;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .Right {
        width: 60vw;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .FullWidth{
        width: 60vw;
    }

    #TitleHomeWrapper{
        text-align: left;
        margin: auto;
        margin-top: 2vh;
        width: 120vh;
    }
    .HomeNav {
        position: relative;
        margin: 3vh 0 3vh 0;
        bottom: 0;
    }

    #LogoWrapper{
        display: inline-block;
        width: 55vh;
        height: 55vh;
    }

    #SponsorWrapper{
        margin: 0;
    }

    #Bewegung{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 1vh 1vh 1vh;
    }

    #Buono{
        display: inline-block;
        width: 18vh;
        height: 5vh;
        margin: 1vh 1vh 1vh 1vh;
    }

    #Bloesser{
        display: inline-block;
        width: 18vh;
        height: 5vh;
        margin: 1vh 1vh 1vh 1vh;
    }
    
    #Getrnkepartner{
        display: inline-block;
        width: 18vh;
        height: 6vh;
        margin: 1vh 1vh 1vh 1vh;
    }

    #Kuratorium{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 1vh 1vh 0;
    }
    


     #Kosag{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 1vh 1vh 0;
    }
    
    #IBB{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 1vh 1vh 0;
    }

    #Kanalk{
        display: inline-block;
        width: 18vh;
        height: 6vh;
        margin: 1vh 1vh 1vh 1vh;
    }
    
    #Schaepper{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 1vh 1vh 0;
    }
        
    #Weiss{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 1vh 1vh 0;
    }
        
    #Biomeier{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 1vh 1vh 0;
    }

    #Mobiliar{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 1vh 1vh 0;
    }

    #Schreiner{
        display: inline-block;
        width: 18vh;
        height: 4vh;
        margin: 1vh 0 1vh 1vh;
    }
    
    #Zentrum{
        display: inline-block;
        width: 18vh;
        height: 5vh;
        margin: 1vh 1vh 1vh 1vh;
    }
}

@media screen and (min-width: 1200px) {
    #HelfenTitel{
        height: 18vh;
    }

    #SpponsorenTitel{
        width: 20vw;
        height: 6vh;
    }

    #Home{
        position: relative;
        left: 0;
        float: right;
        width: 10vw;
        height: 10vw;
        margin: 0 0 1vh 0;
    }

    .MainWrapper{
        padding-left: 15vw;
    }

    .Left {
        width: 33vw;
        margin-right: 4vw;
    }

    .Right {
        width: 33vw;
    }

    .FullWidth{
        width: 70vw;
    }
}