<div class="MainWrapper">
  <div id="HomeWrapper">
      <div id="HelfenTitel"></div>
      <div class="Left">
          <div class="ContentLeft">
              <div class="Content">
                    <h2>KLEIN & LAUT</h2>
                    <br>
                    <p>
                    <a href="https://docs.google.com/forms/d/1mO45PfIBhN_L0dWYLCRg65yUpExN8IJ-NUdvMXuSx5g/edit">HELFER WERDEN? DANKE! (Anmeldeformular)</a><p></p>
                    <p>Auch in der vierten Ausgabe 2018 brauchen wir Helfer, die als wichtiger Teil des Festivals dieses erst ermöglichen. Wir freuen uns über Anmeldungen mit dem obigen Formular. Bei Fragen könnt ihr euch an <a href="mailto:helfer@kleinlautfestival.ch">Anina wenden.</a></p>
                    <p>Wir danken allen Gönnern und Sponsoren herzlich für ihre grosszügige Beiträge, um das kleinLaut Festival zu unterstützen. </p>
                <br>
                </div>
          </div>
      </div>

      <div class="Right">
        <div id="SpponsorenTitel"></div>
        <div id="SponsorWrapper">
            <div id="Kanalk"></div> 
            <div id="Getrnkepartner"></div>
            <div id="Kuratorium"></div>
            <div id="Bewegung"></div>

            <div id="Schreiner"></div>
            <div id="Bloesser"></div>
            <div id="Zentrum"></div>
            <div id="Schaepper"></div>
            <div id="IBB"></div>
            <div id="Kosag"></div> 
            <div id="Buono"></div>
            <div id="Weiss"></div>
            <div id="Biomeier"></div>
            <div id="Mobiliar"></div>    
          </div>
      </div>

      <div class="FullWidth">
          <div class="Content">
              <h2>UNTERSTÜTZER</h2>
              <div id="AlleGoenner">
                    <div class="GönnerPoint"><h4>Bertschi Elektro</h4><p>, Brugg</p></div>
                    <div class="GönnerPoint"><h4>Biomeier</h4><p>, Full</p></div>
                    <div class="GönnerPoint"><h4>Chalira Gewürzeatelier</h4><p>, Aarau</p></div>
                    <div class="GönnerPoint"><h4>Constructive Holzbau AG</h4><p>, Brugg</p></div>
                    <div class="GönnerPoint"><h4>Elektra Riniken</h4><p></p></div>
                    <div class="GönnerPoint"><h4>Gemeinde Riniken</h4><p></p></div>
                    <div class="GönnerPoint"><h4>Jugendkulturhaus Piccadilly</h4><p>, Brugg</p></div>
                    <div class="GönnerPoint"><h4>Kirchgemeinde Riniken</h4><p></p></div>
                    <div class="GönnerPoint"><h4>Läuchli Bau</h4><p>, Remigen</p></div>
                    <div class="GönnerPoint"><h4>Müller René und Susanne</h4><p>, Riniken</p></div>
                    <div class="GönnerPoint"><h4>Suter Architekturen GmbH</h4><p>, Brugg</p></div>
                    <div class="GönnerPoint"><h4>Simmen Lucien und Christiane</h4><p>, Brugg</p></div>
                    <div class="GönnerPoint"><h4>Wehaiba Irène und Bendix John</h4><p>, Ennetbaden</p></div>
                    <div class="GönnerPoint"><h4>Weiss AG</h4><p>, Sulz</p></div>
                    <div class="GönnerPoint"><h4>Cassano Claudio</h4><p></p></div>
                    <div class="GönnerPoint"><h4>Riniker Christoph und Iva</h4><p>, Habsburg</p></div>
                    <div class="GönnerPoint"><h4>Oetlli Michael</h4><p>, Zürich</p></div>
                    <div class="GönnerPoint"><h4>Piani AG</h4><p>, Brugg</p></div>
                    <div class="GönnerPoint"><h4>Stutz Jacqueline und Karich Hanspeter</h4><p>, Brugg</p></div>
                    <div class="GönnerPoint"><h4>Fankhauser-Riniker Barbara</h4><p>, Nyon</p></div>
                    <div class="GönnerPoint"><h4>Riniker Regula</h4><p>, Basel</p></div>
                    <div class="GönnerPoint"><h4>Rachelly Gaby und Charly</h4><p>, Würenlos</p></div>
                    <div class="GönnerPoint"><h4>Kulturverein ODEON BRUGG</h4><p>, Brugg</p></div>
              </div>
          </div>
      </div>
  </div>
</div>

<nav class="PageNav">
  <a routerLink="" >
      <div id="Home" ></div>
  </a>

  <a routerLink="/programm">
      <div id="ProgrammHome"></div>
  </a>
  <a routerLink="/festival">
      <div id="FestivalHome" ></div>
  </a>
  <a routerLink="/wir">
      <div id="WirHome"></div>
  </a>
  <a routerLink="/helfen">
      <div id="HelfenHome"></div>
  </a>
</nav>