a {
    text-decoration: none;
    color:dodgerblue
}

h2 {
    display: inline-block;
    font-size: 3vh;
}

#TitleHomeWrapper{
    margin-bottom: 20vw;
    text-align: center;
}

.HomeNav {
    position: fixed;
    width: 100%;
    bottom: 0;
}


#LogoWrapper{
    display: inline-block;
    width: 90vw;
    height: 90vw;
    background:url(../../assets/KleinLautDatum.png); 
    background-size:100% 100%;
}

#NewsWrapper{
    display: inline-block;
    width: 90vw;
    width: 90vw;
    background:white;  
    background-size:100% 100%;
}

#SponsorWrapper{
    display: block;
    margin: 15vw 0 15vw 0;
}

#Bewegung{
    display: inline-block;
    width: 45vw;
    height: 10vw;
    background:url(../../svg/Logo_BewRaeume.svg); 
    background-size:100% 100%;
}

#Getrnkepartner{
    display: inline-block;
    width: 45vw;
    height: 15vw;
    background:url(../../svg/Logo_Getraenkepartner.svg); 
    background-size:100% 100%;
}

#Kuratorium{
    display: inline-block;
    width: 45vw;
    height: 10vw;
    background:url(../../svg/Logo_Kuratorium.svg); 
    background-size:100% 100%;
}

#Kanalk{
    display: inline-block;
    width: 45vw;
    height: 15vw;
    background:url(../../svg/Logo_KanalK.svg); 
    background-size:100% 100%;
}

@media screen and (min-width: 800px) {
    .HomeNav > * > #ProgrammHome{
        width: 22vh;
        height: 22vh;
        margin: 0 5vh 0 0;
    }

    .HomeNav > * > #FestivalHome{
        width: 22vh;
        height: 22vh;
        margin: 0 0 0 5vh;
    }

    .HomeNav > * > #HelfenHome{
        float: right;
        width: 22vh;
        height: 22vh;
        margin: 0 6vh 0 0;
    }

    .HomeNav > * > #WirHome{
        float: right;
        width: 22vh;
        height: 22vh;
        margin: 0 0 0 5.2vh;
    }

    #TitleHomeWrapper{
        text-align: left;
        margin: auto;
        margin-top: 2vh;
        width: 120vh;
    }
    .HomeNav {
        position: relative;
        margin: 3vh 0 3vh 0;
        bottom: 0;
    }

    #LogoWrapper{
        display: inline-block;
        width: 55vh;
        height: 55vh;
    }

    #NewsWrapper{
        float: right;
        width: 55vh;
        height: 55vh;
    }

    #NewsContent{
        text-align: center;
        background-color: transparent;
        padding: 0;
        width: 55vh;
        height: 55vh;
        display: inline-block;
        margin: 10vh 0 0 0;
    }

    .NewsNav {
        position: absolute;
        margin: 1vh;
        top: 20vh;
    }

    #SponsorWrapper{
        margin: 0;
    }

    #Bewegung{
        display: inline-block;
        width: 28vh;
        height: 9vh;
        margin: 1vh 1vh 1vh 1vh;
    }

    #Getrnkepartner{
        display: inline-block;
        width: 28vh;
        height: 9vh;
        margin: 1vh 1vh 1vh 1vh;
    }

    #Kuratorium{
        display: inline-block;
        width: 28vh;
        height: 9vh;
        margin: 1vh 1vh 1vh 0;
    }

    #Kanalk{
        display: inline-block;
        width: 27vh;
        height: 9vh;
        margin: 1vh 1vh 1vh 1vh;
    }
}