<div class="TitleMainWrapper">
    <div id="TitleHomeWrapper">
        <a href="https://www.facebook.com/kleinlaut.festival/">
        <div id="LogoWrapper"></div>
        </a>
        <div id="NewsWrapper">
            <div id="NewsContentWrapper">
                <infinite-carousel id="NewsContent"></infinite-carousel>
            </div>
        </div>
    
        <nav class="HomeNav">
            <a routerLink="/programm">
                <div id="ProgrammHome"></div>
            </a>
            <a routerLink="/festival">
                <div id="FestivalHome" ></div>
            </a>
            <a routerLink="/wir">
                <div id="WirHome"></div>
            </a>
            <a routerLink="/helfen">
                <div id="HelfenHome"></div>
            </a>
        </nav>
        <div id="SponsorWrapper">
            <div id="Kuratorium"></div>
            <div id="Bewegung"></div>
            <div id="Getrnkepartner"></div>
            <div id="Kanalk"></div> 
        </div>
    </div>
</div>