.WeissFont{
    color: #fcffec;
}

#FestivalTitel{
    display: inline-block;
    width: 60vw;
    height: 6vh;
    background:url(../../assets/Festival.svg); 
    background-color: var(--main-bg-color-blue);
    background-size:100% 100%;
}

a {
    text-decoration: bold;
    color:#250021;
}

h1 {
    font-family: Roboto-Bold, Arial, Helvetica, sans-serif;
}

h2 {
    display: inline-block;
    font-size: 3vh;
}

#KanalK>*>p{
    font-size: 1vh;
}

#KanalK>h3{
    display: inline-block;
    color: #250021;
}


#KanalK>.ProgramPoint>* {
    color: #250021;
}


#Rahmen>*>p{
    font-size: 1.5vh;
}

#Rahmen>h3{
    display: inline-block;
    color: #250021;
}


#Rahmen>.ProgramPoint>* {
    color: #250021;
}

.GönnerPoint >p{
    color: #250021;
    display: inline-block;
}

.GönnerPoint >h4{
    color: #250021;
    display: inline-block;
}

#HomeWrapper{
    margin-bottom: 20vw;
    text-align: center;
}

#TitleHomeWrapper{
    margin-bottom: 20vw;
    text-align: center;
}

#Home{
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    width: 15vw;
    height: 15vw;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    background:url(../../assets/KleinLautDatum.png); 
    background-size:100% 100%;
    margin: 0;
    z-index: 10;
}

#ProgrammHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background:url(../../nav/programm.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#FestivalHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background:url(../../nav/festival.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#HelfenHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background:url(../../nav/helfen.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

#WirHome{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    background:url(../../nav/wir.jpg); 
    background-size:100% 100%;
    margin: 0 3vw 0 3vw;
    z-index: 10;
}

.HomeNav {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.PageNav{
    text-align: center;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.ContentLeft{
    text-align: left;
}

.Content{
    margin: 2vh;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background: #f0f2dc;
    padding: 2vh;
}

@media screen and (min-width: 500px) {
    #FestivalTitel{
        height: 12vh;
    }

    .PageNav{
        position: fixed;
        width: 10vh;
        top: 0;
    }

    .PageNav *{
        display: block;
        margin: 0;
        float: left;
    }

    #Home{
        position: relative;
        left: 0;
        float: right;
        width: 15vh;
        height: 15vh;
        margin: 0 0 1vh 0;
    }

    #ProgrammHome{
        width: 10vh;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    #FestivalHome{
        width: 10vh;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    #HelfenHome{
        float: right;
        width: 10vh;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    #WirHome{
        float: right;
        width: 10vh;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    .HomeNav > * > #ProgrammHome{
        width: 22vh;
        height: 22vh;
        margin: 0 5vh 0 0;
    }

    .HomeNav > * > #FestivalHome{
        width: 22vh;
        height: 22vh;
        margin: 0 0 0 5vh;
    }

    .HomeNav > * > #HelfenHome{
        float: right;
        width: 22vh;
        height: 22vh;
        margin: 0 6vh 0 0;
    }

    .HomeNav > * > #WirHome{
        float: right;
        width: 22vh;
        height: 22vh;
        margin: 0 0 0 5.2vh;
    }

    #HomeWrapper{
        text-align: left;
        margin: auto;
        margin-top: 2vh;
        margin-bottom: 0;
    }

    .MainWrapper{
        padding-left: 20vh;
        margin: auto;
        width: 71vw;
    }

    h2 {
        font-size: 1.5vw;
    }

    .Left {
        width: 60vw;
        margin-right: 0;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .Right {
        width: 60vw;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .FullWidth{
        width: 60vw;
    }

    #TitleHomeWrapper{
        text-align: left;
        margin: auto;
        margin-top: 2vh;
        width: 120vh;
    }
    .HomeNav {
        position: relative;
        margin: 3vh 0 3vh 0;
        bottom: 0;
    }

    #LogoWrapper{
        display: inline-block;
        width: 55vh;
        height: 55vh;
    }
}

@media screen and (min-width: 1200px) {
    #FestivalTitel{
        height: 18vh;
    }

    #Home{
        position: relative;
        left: 0;
        float: right;
        width: 10vw;
        height: 10vw;
        margin: 0 0 1vh 0;
    }

    .MainWrapper{
        padding-left: 15vw;
    }

    .Left {
        width: 33vw;
        margin-right: 4vw;
    }

    .Right {
        width: 33vw;
    }

    .FullWidth{
        width: 70vw;
    }
}