<div class="MainWrapper">
    <div id="HomeWrapper">
        <div id="FestivalTitel"></div> 
        <div class="Left">
            <div class="ContentLeft">
                <div class="Content">
                    <h2>TICKETS</h2> 
                    <p>Tickets werden an der Abendkasse erhältlich sein. Du kannst dir aber auch schon jetzt eins auf <a href="https://www.starticket.ch/de/tickets/kleinlaut-festival-20180727-1500-20180729-0200-im-lee-riniken"  target="_blank">Starticket.ch</a> sichern.
                    <br><br>
                    <b>PREISE</b>
                    <br><br>
                    Freitag: 25 CHF<br>                      
                    Samstag: 30 CHF<br>
                    Beide Tage: 45 CHF
                    </p>                   
                </div>
            </div>
            
            <div class="ContentLeft">
                <div class="Content">
                    <h2>VERPFLEGUNG</h2> 
                    <p>Bei uns kommen auch Tofuschnitten, Fleischtiger und Naschkatzen auf ihre Kosten, dank dem feinen selbstgemachten Essen. Freuen darf man sich auch auf das regionale Bier von Lägerebräu, Drinks und Ingwerer. Glas, PET, Esswaren und Alu sind auf dem Gelände erlaubt und können mitgenommen werden.</p>
                </div>
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>ÜBERNACHTUNG</h2>
                    <p> Ans Festivalgelände angrenzend befindet sich der Zeltplatz, auf dem ihr gratis euer Tipi aufschlagen könnt. Am Samstag ab 9:00 Uhr wird es für einen kleinen Unkostenbeitrag ein Zmorge geben. Vergesst nicht Badehose und Bikini! Der Umiker Schachen ist nah und ein Sprung ins kühle Nass sehr empfehlenswert.</p>
                </div>
            </div>
            
            <div class="ContentLeft">
                <div class="Content">
                    <h2  class="GelbBack">ZU FUSS</h2>
                    <p>Zu Fuss ist man ab Brugg nach 30 – 40 Minuten Spaziergang durch den Brugger Wald auf dem Festivalgelände. Am Ende des Rinikersteigs gibt’s als Belohnung einen Durstlöscher.</p>
                    <br>
                    <p>LAGEPLAN</p>
                    <ks-modal-gallery [modalImages]="plan" [description]="customFullDescriptionHidden" [loadingConfig]="{enable: true, type: 7}" [slideConfig]="{infinite: true}" [enableCloseOutside]="true" [plainGalleryConfig]="PlainGalleryRowConfig"></ks-modal-gallery>
                </div>
                
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>MIT DEM VELO</h2> 
                    <p>Mit dem Velo dauert es bloss 15 – 20 Minuten von Brugg aus. Sehr empfehlenswert - vor allem dann am Abend das nächtliche Runtersausen! Alle Drahteselbenutzer erhalten ebenfalls einen Durstlöscher.</p>
                </div>
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>MIT DEM AUTO</h2> 
                    <p>Mit dem Auto ab Brugg in Richtung Frick / Basel. Ab dem Kreisel nach Umiken ist der Weg ausgeschildert. Der Parkplatz kostet 5.- pro Auto und Tag.</p>
                </div>
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>MIT DEM BUS</h2> 
                    <p>Ab Brugg fährt der Bus Nr. 142 bis um 22:34 Uhr am Freitag zweimal in der Stunde --:04 und --:34 und am Samstag jeweils --:34 nach Riniken (Post). Danach gibt’s auch einen langsamen Rundkurs (Bus Nr. 374), da lohnt sich der Abendspaziergang
                        <br>
                    <br>
                        <a href="http://fahrplan.sbb.ch/bin/query.exe/dn">FAHRPLANAUSKUNFT</a></p>
                </div>
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>MIT DEM SHUTTLEBUS</h2> 
                    <p>Auch dieses Jahr fährt nach Mitternacht, nachdem sich der öV-Bus zur Ruhe gelegt hat, ein Shuttlebus vom Festivalgelände zum Bahnhof Brugg. Die Abfahrtzeiten werden bekannt gegeben, sobald das Festival in die Nähe rückt.</p>
                </div>
            </div>
        </div>
        
        <div class="Right">
            <div class="ContentLeft">
                <div class="Content">
                    <h2>GELÄNDE</h2>
                    <p>Ab Freitag, 27.7.18 um 17:00 Uhr ist das Gelände für euch offen! Die Musik spielt jeweils bis 04:00 Uhr, Getränke gibt’s eine Stunde länger. Aus Rücksicht auf die Anwohner bitten wir alle, danach nicht mehr all zu lärmig zu sein. Bis wir am Sonntag mit dem Abbau beginnen, bleiben Gelände und Zeltplatz offen.</p>
                </div>
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>HUNDE</h2>
                    <p>Allen Lebewesen, die auf vier Beinen durchs Leben gehen, ist die Musik an unserem Festival zu laut. Hunde, Katzen, Meerschweinchen und Hamster sollen deshalb zu Hause gelassen werden. Sie danken es euch!</p>
                </div>
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>zMORGE</h2>
                    <p>Am Samstagmorgen gibt es ab 9:00 Uhr ein feines Zmorge, das den zweiten Festivaltag einläutet.</p>
                </div>
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>SUPERFOOD</h2>
                    <p>Foodwaste ist uns ein Dorn im Auge, weshalb wir alle übrig gebliebenen Esswaren am Sonntag bei der Küche gratis verteilen. Wir müssen nichts wegwerfen und ihr habt euer Katerzmorge!</p>
                </div>
            </div>
            <div class="ContentLeft">
                <div class="Content">
                    <h2>BUGS</h2>
                    <p> Auf unserem Gelände wird mit der festivaleigenen Währung „Bugs“ bezahlt. Diese kann man beim Eingang gegen Schweizer Franken umtauschen. Den Franken gibt’s an Bankomaten – da ist der nächste in Brugg am Bahnhof. In Riniken gibt es also keine Möglichkeit Geld abzuheben.</p>
                </div>
            </div>
            <div class="ContentLeft">
                <div class="Content">
                    <h2>FAMILIE</h2>
                    <p> Bei uns sind alle Jungen und Junggebliebenen herzlich willkommen. Bis 12 Jahre ist der Eintritt in Begleitung mit den Eltern gratis.</p>
                </div>
            </div>

            <div class="ContentLeft">
                <div class="Content">
                    <h2>CAMPING</h2>
                    <p>Angrenzend ans Festivalgelände befindet sich der Zeltplatz, auf dem ihr gratis euer Zelt aufschlagen könnt. Offenes Feuer ist sowohl auf dem Festivalgelände, als auch auf dem Zeltplatz nicht erlaubt. Cervelat und Schoggibananen könnt ihr bei der Feuerschale auf dem Festivalgelände bräteln. Für die Wasserratten oder Drecksspatzen gibt es auf dem Zeltplatz eine Dusche. Wer mit dem Camper kommt, darf auf dem Parkplatz Wurzeln schlagen.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="PageNav">
  <a routerLink="" >
      <div id="Home" ></div>
  </a>

  <a routerLink="/programm">
      <div id="ProgrammHome"></div>
  </a>
  <a routerLink="/festival">
      <div id="FestivalHome" ></div>
  </a>
  <a routerLink="/wir">
      <div id="WirHome"></div>
  </a>
  <a routerLink="/helfen">
      <div id="HelfenHome"></div>
  </a>
</nav>