<ui-carousel [infinite]="true" [fade]="false" [speed]="500" [autoPlaySpeed]="10000">
    <ui-carousel-item>
        <div class="text">
            <H2>Danke!!!</H2>
            <small>01.08.2018</small>
            <p>
                Der Abbau ist vollzogen, wir ziehen uns nun auch vom Feld zurück. DANKE an all unsere Helfer, Sponsoren und Gönner, Bands und allen die mit uns getanzt haben für zwei unvergessliche Tage kleinLaut. ♥️ </p>
        </div>
    </ui-carousel-item>
    <ui-carousel-item>
        <div class="text">
            <H2>Letzte Infos</H2>
            <small>27.07.2018</small>
            <p>
               Heute wird's abartig geil':
               <br><br>Der Überflieger CRIMER ersetzt heute kurzfristig Muthoni Drummer Queen, die wegen Krankheit leider aussetzen muss.
                <br><br>Wir haben allgemeines Feuerverbot auf dem Gelände. Das bedeutet für euch: Zigarettenstümmel gehören ohne Ausnahme in das Filmdöschen, das ihr am Eingang erhaltet. Zudem stellen wir euch Gasgrills auf dem Gelände für Grilladen zur Verfügung, sodass ihr auch ohne Lagerfeuer zu eurem Schmauss kommt!
                <br><br>Tickets gibt es ab jetzt nur noch an der Abendkasse!
        </div>
    </ui-carousel-item>
    <ui-carousel-item>
        <div class="text">
            <H2>Es geht los!</H2>
            <small>24.07.2018</small>
            <p>
                In drei Tagen geht es los! Daher die letzten Infos:
                <br><br> Das Wetter wird sonnig und der Aufbau schreitet bestens voran. Tickets können immer noch im Voraus gesichert werden: <a href="https://www.starticket.ch/de/tickets/kleinlaut-festival-20180727-1500-20180729-0200-im-lee-riniken" target="_blank">Für Starticket hier klicken</a>!
                <br><br>Am Samstagnachmittag spielen auf der Nebenbühne Elina Baumann und das Duo Scharlachmaria. Wir freuen uns sehr auf die von unseren Freunden "kleinLaut in den Pubs" organisierten Wohnzimmerkonzerte.
        </div>
    </ui-carousel-item>
    <ui-carousel-item>
        <div class="text">
            <H2>Musikprogramm Teil 2</H2>
            <small>08.04.2018</small>
            <p>
                Mit Teil 2 geht's weiter:
                <br>BLACK SEA DAHU (CH)<br>BOBBY ALU (AUS)
                <br>OTHER ANIMALS (CH)<br>FLUT (AT)<br>DIE NERVEN (DE)
                <br>FUCK ART LET'S DANCE (DE)<br>FLEXSTREETBOYS DJ-SET (CH)<br><br>
                <a href='https://www.starticket.ch/de/tickets/kleinlaut-festival-20180727-1500-20180729-0200-im-lee-riniken' target='_blank'>
                    Tickets sichern
                </a> - 
                <a href='https://www.facebook.com/events/139991350149220/' target='_blank'>
                    Facebook Veranstaltung
                </a>
        </div>
    </ui-carousel-item>
    <ui-carousel-item>
        <div  class="text">
            <H2 >Musikprogramm Teil 1</H2>
            <small>01.04.2018</small>
            <p>Wir freuen uns, das Musikprogramm vom diesjährigen Freitag bekanntzugeben:
                <br>bandXnordwest Gewinner/in (CH)<br>DACHS (CH)
                <br>MUTHONI DRUMMER QUEEN (KEN/CH)<br>SOVIET SOVIET (IT)
                <br>LOST IN NATURE DJ-SET (CH)<br><br>
                <a href='https://www.starticket.ch/de/tickets/kleinlaut-festival-20180727-1500-20180729-0200-im-lee-riniken' target='_blank'>Tickets sichern</a> - <a href='https://www.facebook.com/events/139991350149220/' target='_blank'>
                    Facebook Veranstaltung
                </a> 
                <p>
        </div>
    </ui-carousel-item>
</ui-carousel>