:host{
    display: block;
    width: 100%;  
    height: 100%;
}

ui-carousel{
    display: block;
    margin: 0;
}

h2{
    margin: 0;
}

.text{
    font-size: 0.9em;
    text-align:  center;
    height: 100%;
    color: var(--main-bg-color-blue);
    background: white;
    padding: 10px 45px;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}